.form {
  &__user-contact-data{
    display: flex;
    margin: 25px 0;
  }

  &__user-name,
  &__user-email,
  &__user-messsage {
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 100%;
  }

  &__user-messsage {
    margin: 25px 0;
  }

  &__user-email {
    margin-left: 10px;
  }

  &__user-name-input,
  &__user-email-input {
    height: 50px;
    border: 1px solid #00aeae;
  }

  &__user-text-message {
    height: 100px;
    padding: 10px 20px;
    border: 1px solid #00aeae;
  }

  &__user-name-label,
  &__user-email-label,
  &__user-messsage-label {
    @extend %regular-text;
    color: $theme-color;
  }
}
