.header {
  background: url(../img/header_background_v2.jpg) center / cover;
  height: 100vh;

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    &--img {
      width: 225px;
      height: 135px;
    }
  }

  &__center {
    position: relative;
    top: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &--title {
      text-transform: uppercase;
      color: $white-color;
      font-family: $font-family;
      font-weight: $bold-text;
    }
  }

  &__button-center {
    @extend %button;
    @extend %regular-text;
    @extend %scale-animation;
    @extend %hover-animation;
    color: $white-color;
    font-weight: $normal-text;
    margin-top: 20px;
    background-color: $theme-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
}