.nav {
  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;

    &--divider {
      &::after {
        content: "";
        height: 100%;
        width: 1px;
        background-color: #92B3A8;
      }
    }
  }

  &__link {
    @extend %regular-text;
    @extend %scale-animation;
    padding: 30px 120px;
    letter-spacing: 0.5px;
    justify-items: center;
    text-transform: uppercase;
    color: $white-color;

    &:hover {
      transition: 0.9s;
      background-color: #1799B5;
      opacity: 0.8;
    }
  }
}
